html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
body {
  margin-top: 50px;
}
h1 {
  color: #444444;
  margin: 50px auto 30px;
}
p {
  font-size: 24px;
  color: #444444;
  margin-bottom: 10px;
}
table {
  margin: 40px auto;
}
td {
  background: #e0e0e0;
  margin: 2px;
  padding: 7px 20px;
  cursor:pointer;
}
tr:HOVER td {
  background: #eaeaea;
}
input {
  margin: 0px 3px;
}