html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
body {
  margin-top: 50px;
}
h1 {
  margin: 50px auto 30px;
}
p {
  font-size: 24px;
  margin-bottom: 10px;
}
table {
  margin: 40px auto;
}
td {
  margin: 2px;
  padding: 7px 20px;
  cursor: pointer;
}
input {
  margin: 0px 3px;
}
nav {
  font-size: 80%;
  text-align: right;
}
nav a {
  color: inherit;
  text-decoration: none;
}
.cursor-wait,
.cursor-wait * {
  cursor: wait !important;
}
#navtr {
  background: transparent !important;
}
@media (prefers-color-scheme: light) {
  body {
    color: #444444;
  }
  td {
    background: #e0e0e0;
  }
  tr:hover td {
    background: #eaeaea;
  }
  body {
    background: #f6f6f6;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #bbbbbb;
  }
  td {
    background: #1c1c1c;
  }
  tr:hover td {
    background: #151515;
  }
  body {
    background: #090909;
  }
}
