html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
body {
  margin-top: 50px;
}
h1 {
  margin: 50px auto 30px;
}
p {
  font-size: 24px;
  margin-bottom: 10px;
}
table {
  margin: 40px auto;
}
td {
  margin: 2px;
  padding: 7px 20px;
  cursor: pointer;
}
input {
  margin: 0px 3px;
}
nav {
  font-size: 80%;
  text-align: right;
}
nav a {
  color: inherit;
  text-decoration: none;
}
.cursor-wait,
.cursor-wait * {
  cursor: wait !important;
}
#navtr {
  text-align: right;
  background-color: transparent;
}

#settingsContainer {
  display: inline-block;
  position: relative;
}

#settingsIcon {
  cursor: pointer;
  user-select: none;
  font-size: 1.2em;
  opacity: 50%;
  display: inline-block;
  transition: transform 0.3s ease;
}
#settingsIcon:hover {
  opacity: 100%;
  transform: rotate(360deg);
}

#settingsMenu {
  display: none; /* hidden by default */
  position: absolute;
  right: 100%; /* wysuwa w lewo od ikony */
  top: 0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 100;
}

#settingsMenu a {
  color: inherit;
  text-decoration: none;
  margin: 3px 0;
}

#settingsMenu a:hover {
  text-decoration: underline;
}

/* pokazanie menu */
#settingsMenu.show {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-color-scheme: light) {
  body {
    color: #444444;
  }
  td {
    background: #e0e0e0;
  }
  tr:hover td {
    background: #eaeaea;
  }
  body {
    background: #f6f6f6;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #bbbbbb;
  }
  td {
    background: #1c1c1c;
  }
  tr:hover td {
    background: #151515;
  }
  body {
    background: #090909;
  }
}
